<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hola</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<form action="" method=post><div class="actions"><input type="submit" value="Dashboard" name="Dashboard"></div></form>
<form action="" method=post><div class="actions"><input type="submit" value="Sign out" name="Sign out"></div></form>
    <h2> You're logged in as {{username}}</h2>
    <h1 class ="contents">My jam</h1>
    <div class = "contents", id ="song"> <p><b>NCT127 - Cherry Bomb</b> <br> Sick beat! </p> </div>
    <div class ="contents", id="pic"><img src="https://upload.wikimedia.org/wikipedia/en/a/a7/Cherrybomb-nct.jpg" width ="300" height = "250" /></div>
    <div class = "contents">
        <table border = "1">
            <th> Tracklist sample </th>
            <th> Composers </th>
            <tr>
                <td>Cherry Bomb</td>
                <td>Dwayne Abernathy Jr., Jennifer Decilveo, 디즈, Jakob “Jay” Mihoubi, Rudi “Rudy” Daouk, Michael Woods, Kevin White, Andrew Bazzi, MZMC</td>
            </tr>
            <tr>
                <td>Running 2 U</td>
                <td>Karl Powell, Harrison Johnson, Ryan Christian, Adrian McKinnon, Tay Jasper, Otha "Vakseen" Davis III, MZMC</td>
            </tr>
            <tr>
                <td>0 Mile</td>
                <td>Christian Fast, Julimar J-Son Santos, Henrik Nordenback</td>
            </tr>
        </table>
    </div>

</body>
</html>